.before-home-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.before-home-header h1 {
  font-weight: 700;
  margin-bottom: 0;
}
.before-home-button {
  align-items: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.logo {
  font-size: 30px;
  font-weight: 600;
}
.before-home {
  margin-top: 90px;
}
.before-home-header {
  width: 60%;
}
@media (max-width: 768px) {
  .before-home-header {
    width: 70%;
  }
  .before-home {
    margin-top: -70px;
  }
  .before-home-header h1 {
    margin-top: 50px;
  }
}
@media (max-width: 555px) {
  .before-home-header {
    width: 100%;
  }
  .before-home-container {
    margin-top: 20px;
  }
}
@media (min-width: 1380px) {
  .before-home-container {
    align-items: flex-start;
  }

  .before-home {
    margin-top: -90px;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1380px) {
  .before-home-header {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1380px) {
  .before-home-container {
    margin-top: -20px;
  }
  .before-home {
    margin-top: -40px;
  }
}
