.before-home-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.before-home-header h1 {
  font-weight: 700;
  margin-bottom: 0;
}
.before-home-button {
  align-items: end;
  display: flex;
  margin-left: 80%;
  justify-content: flex-end;
}
.before-home {
  margin-top: 20px;
}
.before-home-header {
  width: 60%;
}
@media (max-width: 768px) {
  .before-home-header {
    width: 70%;
  }
  .before-home-container {
    margin-top: -40px;
  }
}
@media (max-width: 555px) {
  .before-home-header {
    width: 100%;
  }
  .before-home-container {
    margin-top: 20px;
  }
}
@media (min-width: 1380px) {
  .before-home-container {
    align-items: flex-start;
  }
  .before-home-button {
    margin-left: 90%;
  }
  .before-home {
    margin-top: -40px;
  }
}
@media (min-width: 768px) and (max-width: 1380px) {
  .before-home-header {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1380px) {
  .before-home-container {
    margin-top: -20px;
  }
  .before-home {
    margin-top: -40px;
  }
}
