.edit-trip-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.edit-trip-modal {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  margin-top: 40px;
  flex-direction: column;
  width: auto;
  align-items: center;

  padding-top: 30px;
  padding: 50px 5% 50px 5%;
}
.edit-trip-days-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.trip-edit-general-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 0%;
  align-items: center;
}
.trip-edit-general-info h2 {
  width: 100%;
}

.edit-trip-container h2 {
  z-index: 4;
  position: relative;
}
.edit-trip-form {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.edit-trip-modal select {
  padding: 12px 10px;
}
.edit-trip-slider {
  padding: 0px 20px 0px 55px;
  display: block;
  background-color: #f1f1f1;
  height: auto;
  margin-top: 60px;
  width: 40%;
  overflow: hidden;
}
.slick-slider .slick-arrow {
  color: white;
}
.trip-day-title {
  position: absolute;
  z-index: 9999;
  color: white;
  font-size: 24px;
}
.edit-trip-slider li {
  font-family: "myriad-pro", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
}
.photo-upload {
  margin-top: 20px;
  width: 100%;
}
.photo-upload img {
  width: 200px;
  height: 120px;
  object-fit: cover;
}
.photo-upload input {
  border-bottom: none;
  margin-left: 0;
}
.photo-upload .delete span {
  margin-left: -30px;
}

.new-activity-row {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.new-activity-row button {
  margin-left: -0px;
}
.new-activity-row textarea {
  background-color: #f1f1f1;
  padding: 10px 6px;
  margin-top: 10px;
  font-family: "myriad-pro", sans-serif;
}
.edit-trip-slider .slick-dots {
  margin-top: -40px;
}
.edit-trip-slider h2 {
  position: relative;
  z-index: 10;
}
.add-trip-modal {
  margin-top: 100px;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.model-form-left {
  display: flex;
  flex-direction: column;
  margin-right: 140px;
}
.add-trip-modal .model-form {
  align-items: center;
}
.model-form {
  padding-top: 80px;
  padding-bottom: 40px;
}
.add-trip-modal form {
  max-width: 800px;
}
.trip-day {
  width: 20%;
}
.trip-days-container button {
  margin-bottom: -80px;
  margin-right: 40px;
  z-index: 4;
}
.traveler-selection table input {
  margin: O !important;
  min-width: 30px;
}
.traveler-selection table {
  width: 100% !important;
  margin-top: 10px;
  text-align: none;
}
.table-header th {
  margin-top: 50px;
  font-weight: 600;
  font-size: 14px;
  font-family: "myriad-pro", sans-serif;
}
.table-header {
  width: 10%;
}

.traveler-selection td {
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.button-container-edit {
  margin-top: 40px;
}
.new-activity-input {
  margin: 0;
  margin-top: 10px;
}
.button-container-edit-days {
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  height: 100%;
}
.button-container-edit-days .custom-button.default {
  margin: 0;
}
.slick-track1 {
  height: 610px;
}
.trip-day-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}
/* overlay */
.modal-content1 {
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  position: absolute;
}
.modal-content1 .modal-close {
  margin-bottom: 20px;
  margin-top: -20px;
  position: absolute;
  margin-right: 1%;
}
.edit-trip-buttons {
  display: block;
  align-items: flex-start;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.add-pictures {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 50%;
  max-width: 500px;
  margin-top: 50px;
  height: auto;
  align-items: flex-start;
  padding: 20px 10%;
}
.add-pictures-container {
  display: flex;
  justify-content: center;
}
.add-pictures input {
  border: none;
  padding: 0;
  margin: 0;
}
.add-picture-buttons {
  margin-top: 30px;
  margin-bottom: 40px;
}
.trip-detail-photos-header-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -70px;
  margin-top: 40px;
}
.photos-summary {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: -20px;
}
.photos-container h2 {
  margin-left: 0;
}
.summary-photo {
  margin-top: 50px;
  display: block;
}
.summary-container {
  margin-top: 30px;
}
.model-form-AddButton button {
  margin-left: 20px;
}
.custom-select {
  width: 100% !important;
}
.model-button-add {
  margin-top: 0px;
  margin-bottom: 30px;
  justify-content: flex-end;
  display: flex;
}
.roadtrip-countries {
  margin-bottom: 20px;
}
.model-button-add-inner {
  display: flex;
}
@media (max-width: 600px) {
  .edit-trip-container {
    flex-direction: column;
    align-items: center;
  }
  .edit-trip-slider input {
    background-color: #d7d3cd;
  }
  .edit-trip-slider {
    margin-left: -0%;
    width: 80%;
  }
  .edit-trip-modal {
    display: block;
    padding: 40px 10%;
  }
  .trip-edit-general-info {
    margin: 0;
    margin-bottom: 30px;
    display: block;
  }
  .edit-trip-container form {
    padding: 0;
    margin-top: 10px;
  }
  .edit-trip-container th {
    font-size: 13px;
  }
  .edit-trip-container td {
    font-size: 12px;
  }
  .modal-content1 {
    max-height: 90vh;
    overflow-x: hidden;
  }
  .modal-content1 .modal-close {
    margin: 0;
  }
  .traveler-selection input {
    margin: 0;
  }
  .trip-day-content {
    margin-top: 30px;
  }
  .edit-trip-slider h2 {
    margin-top: 45px;
  }
  .add-trip-modal form {
    width: 100% !important;
  }
  .add-trip-modal .model-form {
    flex-direction: column !important;
    overflow: auto !important;
    margin-top: 0px;
  }
  .model-form {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .model-form-left {
    margin: 0 !important;
  }
  .traveler-selection {
    width: 100% !important;
    padding-bottom: 10px;
  }
  .photo-upload {
    width: 100%;
  }
  .add-trip-modal {
    overflow: auto !important;
    height: auto !important;
    margin-top: 50px;
  }
  .traveler-selection table {
    width: 100% !important;
  }
  .model-form-AddButton {
    justify-content: flex-start;
    width: 100%;
    align-items: baseline;
  }
  .table-header th {
    font-size: 14px;
  }
  .custom-select {
    font-size: 11px;
    width: 100% !important;
  }
  .date-input {
    font-size: 12px;
    font-family: "myriad-pro", sans-serif;
  }
  .traveler-selection td {
    font-size: 12px;
  }
  .edit-trip-slider input {
    font-size: 11px;
  }
  .photos-container {
    padding-top: 50px;
  }
  .trip-detail-photos-header-button {
    padding-top: 100px;
  }
  .photos-summary {
    width: auto;
  }
  .photos-summary button {
    width: auto;
    padding: 7px 10px;
    margin-top: 20px;
    justify-content: flex-end !important;
  }
  .traveler-selection td {
    margin-top: 10px;
    width: 100%;
  }
  .add-picture-buttons {
    align-items: baseline;
    margin-bottom: 0px;
  }
  .add-pictures {
    align-items: flex-start;
    width: 100%;
  }
  .model-form-AddButton button {
    margin: 0;
    width: auto;
    margin-right: 20px;
  }
  .trip-day-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .button-container-edit {
    margin-top: 0;
  }
}
