form {
  background-color: #484848;
  padding: 10%;
  border-color: 1px #707070;
  color: #d5dfff;
  margin-top: -30px;
}
input {
  background-color: #484848;
  margin-left: 20px;
  border: #484848;
  border-bottom: 0.5px solid #d5dfff;
  margin-bottom: 20px;
  margin-top: 10px;
  min-width: 210px;
  color: white;
}
.title-header {
  margin-left: 50px;
  width: 60%;
}
@media (min-width: 600px) {
  .title-header {
    margin-bottom: 10px;
    width: 120%;
  }
}
.logged-in-container button {
  background-color: red !important;
  color: white !important;
  margin-top: 40px;
}
