.add {
  background-color: #3c4b64;
  display: flex;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}
@media (min-width: 768px) {
  .add {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}
