.custom-button {
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  min-width: 120px;
}
a {
  text-decoration: none;
  color: #373737;
}

.custom-button.default {
  background-color: #3c4b64;
  color: white;
}

.custom-button.default:hover {
  background-color: #566a8e;
  color: white;
}

.custom-button.secondary {
  background-color: #e0e0e0;
  color: #3c4b64;
}

.custom-button.secondary:hover {
  background-color: #cfcfcf;
}

@media (max-width: 768px) {
  .custom-button {
    width: 70px;
    min-width: 60px;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    transition: none;
  }

  .custom-button.default:hover,
  .custom-button.secondary:hover {
    background-color: inherit;
    color: inherit;
  }
}
