.underline-link {
  position: relative;
  color: #3c4b64;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem 15px;
  background-color: #c9bfb1;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: color 0.3s ease;
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.underline-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3c4b64;
  transition: width 0.3s ease;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .underline-link {
    font-size: 11px;
  }
}
