body {
  background-color: #f6f6f6;
  color: black;
  margin: 100px 10%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  color: #3c4b64;
}

h2 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 1600;
  font-style: normal;
  font-size: 40px;
  color: #3c4b64;
}

h3 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: #3c4b64;
}

p {
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  color: black;
}
form {
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  background-color: #f1f1f1;
}
input {
  border-bottom: 0.5px solid #3c4b64;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 3px;
  min-width: 210px;
  margin-left: 20px;
  color: #3c4b64;
  font-size: 14px;
  background-color: #f1f1f1;
}
label {
  font-family: "myriad-pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #3c4b64;
}
.title {
  text-align: center;
}
select {
  margin: 10px 0px 20px 0px;
  padding: 5px 10px;
  background-color: #3c4b64;
  color: white;
  border: 0.5px #3c4b64 solid;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #3c4b64;
  font-size: 14px;
}
td {
  color: #3c4b64;
}
th {
  color: #3c4b64;
  font-size: 14px;
}
li {
  font-size: 14px;
  font-weight: 100;
}
.date-input {
  font-family: "myriad-pro", sans-serif;
}
/* Mobiele versie */
@media (max-width: 768px) {
  body {
    margin: 100px 40px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
  label {
    font-size: 14px;
    font-weight: 600;
  }
  td {
    font-size: 14px;
  }
  th {
    font-size: 14px;
    font-weight: 600;
  }
  li {
    font-size: 12px;
  }
  input {
    min-width: 190px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 2px;
    padding-bottom: 3px;
    font-size: 13px;
  }
  button {
    font-size: 13px;
  }
}
