body {
  background-color: #f6f6f6;
  color: black;
  margin: 100px 10%;
  overflow-x: hidden;
}

h1 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  color: #3c4b64;
}

h2 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: black;
}

h3 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: #3c4b64;
}

p {
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  color: black;
}
form {
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
}
.title {
  text-align: center;
}

/* Mobiele versie */
@media (max-width: 768px) {
  body {
    margin: 0px 40px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 10px;
  }
}
