.add-family-members th {
  margin-top: 50px;
  font-size: 14px;
  font-family: "myriad-pro", sans-serif;
}
.account-container h2 {
  width: 80%;
  margin-top: -55px;
}
.add-family-members h2 {
  margin-left: 0;
}
.account-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 40px;
  margin-bottom: 20px;
}
.add-family-members h3 {
  font-size: 15px;
}
.add-family-members td {
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.add-family-members {
  margin: -10px 20px 20px 20px;
}
.add-family-members table {
  margin-left: -10px;
}
.account-info {
  background-color: #f1f1f1;
  padding: 90px 80px 40px 30px;
  width: 35%;
  font-size: 16px;
  height: 100%;
}

.account-info h2 {
  margin-left: 0;
}
.account-info button {
  margin-top: 20px;
}
.info-form-text {
  height: 30px;
}
.account-family {
  background-color: #f1f1f1;
  padding: 90px 30px 40px 30px;
  width: 40%;
  height: 100%;
}
.account-info-buttons {
  margin-top: 50px;
}
.changing-password-form form {
  background-color: transparent;
}
.account-user-trips {
  padding: -30px 30px 40px 30px;
}

.account-family-container {
  background-color: #484848;
}
.account-user-trips h2 {
  margin-top: 30px;
}
.account-family-container {
  height: 400px;
}

.changing-password-form h3 {
  font-size: 16px;
}

.changing-password-form {
  margin-top: 30px;
}
.changing-password-form form {
  padding: 20px 30px;
}
.button-container-account {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px;
  gap: 20px;
}
.change-passord-button {
  margin: 0;
}
.title-label {
  margin-top: 20px;
}
.info-form-text {
  display: flex;
  align-items: baseline;
}
.info-form-text p {
  margin-left: 10px;
}
@media (max-width: 955px) {
  .account-info-container {
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
  }
  .account-info {
    width: 90%;
    padding: 80px 20px 20px 20px;
  }
  .account-info-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .account-info-buttons button {
    width: 40%;
  }
  .changing-password-form form {
    width: 100%;
  }
  .changing-password-form input {
    max-width: 20px;
  }
  .account-family {
    width: 90%;
    margin-top: 60px;
    padding: 40px 20px 20px 20px;
  }
  .add-family-members {
    margin: 0;
  }
  .info-form-text p {
    margin-left: 6px;
  }
  .info-form-text {
    align-items: baseline;
  }
  .add-family-members td {
    font-size: 11px;
  }
  .add-family-members th {
    font-size: 11px;
  }
}
