.trip-detail-general-info {
  background-color: #d7d3cd;
  opacity: 0.9;
  z-index: 1;
  padding: 50px;
  padding-top: 90px;
  padding-left: 300px;
  width: 50%;
  max-width: 500px;
  margin-left: -300px;
}

.trip-detail-container h1 {
  margin: 40px 0px -90px 0px;
  z-index: 3;
  position: relative;
}
.back-button-detail {
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-size: 13px;
  position: relative;
  margin-top: 90px;
  z-index: 20;
  margin-left: 10px;
  margin-right: 50px;
}
#fullpage-wrapper {
  margin-top: -100px;
}
.trip-days-slider {
  background-color: #d7d3cd;
  padding: 20px 80px 60px 80px;
  font-family: "myriad-pro", sans-serif;
  width: 40%;
  z-index: 1;
  max-width: 450px;
  opacity: 0.9;
}
.trip-days-slider ul {
  list-style-type: none;
  padding-left: 0;
}
.trip-days-slider li {
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 14px;
}
.trip-days-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}
.trip-days-container h1 {
  margin: 0px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  max-width: 450px;
  margin-bottom: 15px;
}
.edit-trip-button {
  margin: 50px 0px -90px 0;
  z-index: 4;
}
.trip-detail-header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slick-prev:before,
.slick-next:before {
  content: none;
}
.slick-dots li button:before {
  font-size: 7px;
  color: gray;
  opacity: 1;
}
.trip-delete-button {
  background-color: red;
  padding: 8px;
  color: white;
}
.slick-dots li.slick-active button:before {
  color: rgb(0, 0, 0);
}
.slick-dots {
  margin-bottom: -20px;
}
.trip-detail-container-info {
  margin-top: 10%;
  margin-bottom: 10%;
}
.trip-background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.8s ease-in-out;
}
.trip-background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(166, 166, 166, 0.741); /* zwarte tint met 50% transparantie */
  pointer-events: none; /* zorgt dat de overlay geen interacties blokkeert */
}
.trip-detail-info1 {
  margin-bottom: 30px;
}
.trip-detail-under-content {
  margin-top: 0px;
  height: 100vh;
}
.map-container {
  height: 100vh;
  padding-bottom: 0%;
  margin-top: 30px;
}
.photos-container img {
  width: 30%;
  height: 40%;
  object-fit: cover;
}

.trip-detail-edit-trip {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
  margin-bottom: 50px;
}
.trip-detail-general-info button {
  font-family: "myriad-pro", sans-serif;
  margin: 0px 20px 0px 0px;
}
.trip-detail-info {
  display: flex;
  align-items: baseline;
  gap: 10px;
  height: 30px;
}
.trip-detail-header {
  display: flex;
  align-items: center;
  align-items: center;
  max-width: 500px;
  justify-content: space-between;
}
.trip-detail-share {
  margin: 50px 0px -90px 0;
  z-index: 3;
  padding: 8px;
  cursor: pointer;
  background-color: #3c4b64;
  color: white;
}
.trip-detail-share button {
  display: flex;
}
.trip-detail-share svg {
  color: white;
}
.underline-back-button {
  display: flex;
  align-items: center;
}
.map-container h2 {
  margin-left: 0;
}
.section {
  margin: 0px 100px;
}
.fp-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  max-width: 85%;
}
.trip-detail-photos-header-button {
  margin-top: 80px;
}
@media (max-width: 600px) {
  .fp-table {
    height: 100vh;
    width: 100%;
  }
  .fp-section {
    height: 100vh;
  }
  .trip-detail-under-content {
    padding: 0;
  }
  .trip-detail-container-info {
    margin-top: 200px;
    width: 100%;
    height: 100vh;
  }
  .trip-detail-general-info {
    width: 80%;
    margin-top: -60px;
    padding-top: 60px;
  }
  .trip-detail-general-info button {
    font-size: 10px;
  }
  .trip-days-slider {
    padding: 20px 70px 50px 70px;
    width: 80%;
    margin-top: 10px;
  }
  .days-place {
    margin-top: 20px !important;
    color: blue;
  }
  .trip-days-container {
    margin-top: 70px;
    align-items: center;
  }
  .section {
    margin: 0px 8%;
    width: 100%;
  }
  .slick-dots {
    display: none;

    position: relative;
  }
  .slick-dots li button:before {
    font-size: 5px;
  }
  .slick-dots li button {
    height: 1px;
  }

  .trip-days-slider li {
    font-size: 10px;
  }
  .slick-dots {
    margin-bottom: 0;
  }
  .slick-dots {
    display: none !important;
  }
  .back-button-detail {
    font-size: 10px;
  }
  .trip-detail-container h1 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .trip-detail-container {
    margin-top: 50px;
  }
  .back-button-detail {
    margin-bottom: 30px;
  }
  .trip-detail-header-actions {
    margin-left: 20%;
    margin-top: -30px;
  }
  .trip-detail-header {
    justify-content: flex-start;
  }
  .trip-detail-share {
    margin: 20px 0px 0px 0px;
  }
  .edit-trip-button {
    margin: 20px 0px 0px 0px;
  }
  .trip-days-container button {
    margin-left: 100%;
    margin-bottom: -70px;
    margin-top: -20px;
  }
  .trip-detail-photos-header-button {
    margin-bottom: -40px;
    margin-top: 0;
  }

  .add-pictures input {
    margin-left: 30%;
    background-color: transparent;
  }
  .photos-container img {
    width: 160px;
  }
  .back-button-detail button {
    margin: 0;
  }
}
