.trip-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.trip-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: flex-start;
}
.trip-info-container {
  width: 480px;
}
.trip-item.reverse .trip-content {
  flex-direction: row-reverse;
}
.trip-info {
  background-color: #484848;
  padding: 10px 0px 20px 30px;
}
ul {
  text-decoration: none;
}

/* overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Toegevoegd voor achtergrondverduistering */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Zelfde als je andere modal */
}

.modal-content {
  padding: 2rem;
  border-radius: 8px; /* Zelfde als jouw andere modal */
  max-width: 500px; /* Gelijk met je andere */
  width: 90%;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}
.trip-image {
  width: 38%;
  height: 350px;
  object-fit: cover;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
li {
  marker: none;
}
.modal-content button {
  margin-bottom: 20px;
}
.model-form {
  display: flex;
  flex-direction: column;
}
.model-form-checkboxes {
  display: flex;
  flex-direction: column;
  margin-left: -30%;
  margin-top: 10px;
}
select {
  margin: 10px 0px 20px 0px;
  padding: 5px 10px;
  background-color: #484848;
  color: white;
  border: 0.5px #d5dfff solid;
}
.model-form-AddButton {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.trip-delete-button {
  padding-top: 10px;
  margin-bottom: -30px;
  margin-right: 20px;
}
.modal-content .title-header {
  font-size: 60px;
  margin-top: 10px;
}
/* trips overview */
.trip-delete-button {
  display: flex;
  justify-content: flex-end;
}
.trip-link a {
  color: #d5dfff;
  font-family: "myriad-pro", sans-serif;
  font-size: 10px;
}
.trip-link {
  justify-content: flex-end;
  display: flex;
}
.trips-info-title {
  margin: 0px 0px -12px 30px;
}
.trip-link svg {
  width: 10px;
  margin-left: 20px;
  height: 10px;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
.filters input {
  margin: 0;
  min-width: 50px;
  margin-left: 100px;
}
.searchbar {
  width: 280px;
  padding: 12px 10px;
}
.filters select {
  width: 200px;
  font-size: 15px;
  background-color: #d5dfff;
  color: #484848;
  border-color: #484848;
  padding: 12px 10px;
  margin: 0;
}
.filters label {
  font-weight: 100;
}

@media (max-width: 600px) {
  .modal-content input {
    margin: 10px;
  }
  .modal-content form {
    padding: 9% 5%;
  }
  .modal-overlay {
    background-color: #484848;
  }
  .modal-content .title-header {
    font-size: 30px;
    margin-top: 10px;
  }
  .trip-content {
    flex-direction: column !important;
    align-items: flex-start;
  }
  .trip-image {
    width: 100%;
    height: auto;
  }
  .searchbar {
    width: 200px;
    padding: 5px 3px;
    font-size: 10px;
  }
  .filters {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .trip-info-container {
    width: 100%;
  }
  .filters select {
    font-size: 12px;
    padding: 5px 3px;
    width: 100%;
  }
  .filters input {
    width: 97%;
    margin: 0;
  }
  .filters-left,
  .filters-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    align-items: center;
  }
  .filters label {
    display: flex;
    margin: 0px;
    margin-top: 0px;
    font-size: 10px;
    align-items: center;
    width: 200px;
  }
  .filters label input {
    width: 20px;
    height: 15px;
  }
  .trip-item {
    margin-bottom: 40px;
  }
  .trip-info {
    padding: 0px 0px 10px 10px;
  }
  .trip-delete-button {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0;
    margin-top: -20px;
  }
  .trip-info p {
    margin: 7px;
  }
  .trip-link button {
    padding: 0;
  }
  .trips-info-title {
    margin: 10px 0px 2px 17px;
  }
  .trip-info-container {
    background-color: #484848;
  }
}

@media (min-width: 660px) and (max-width: 1350px) {
  .filters-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .filters label {
    margin-top: 30px;
  }
  .filters {
    align-items: flex-end;
  }
  .searchbar {
    width: 250px;
    padding: 5px 10px;
    font-size: 15px;
  }
}
