.trip-detail-general-info {
  background-color: #d7d3cd;
  opacity: 0.9;
  z-index: 1;
  padding: 50px;
  padding-top: 90px;
  padding-left: 300px;
  width: 50%;
  max-width: 400px;
  margin-left: -300px;
}
.trip-detail-container h1 {
  margin: 40px 0px -90px 0px;
  z-index: 3;
  position: relative;
}
.back-button-detail {
  padding-top: 40px;
  font-family: "myriad-pro", sans-serif;
  font-weight: 100;
  font-size: 13px;
}
.trip-days-slider {
  background-color: #d7d3cd;
  padding: 20px 80px 60px 80px;
  font-family: "myriad-pro", sans-serif;
  width: 40%;
  z-index: 1;
  max-width: 450px;
  opacity: 0.9;
}
.trip-days-slider ul {
  list-style-type: none;
  padding-left: 0;
}
.trip-days-slider li {
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 14px;
}
.trip-days-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}
.trip-days-container h1 {
  margin: 0px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  max-width: 450px;
  margin-bottom: 15px;
}
.edit-trip-button {
  margin: 50px 0px -90px 0;
  z-index: 4;
}
.trip-detail-header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slick-prev:before,
.slick-next:before {
  content: none;
}
.slick-dots li button:before {
  font-size: 7px;
  color: gray;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: rgb(0, 0, 0);
}
.slick-dots {
  margin-bottom: -20px;
}

.trip-background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.8s ease-in-out;
}
.trip-background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(166, 166, 166, 0.741); /* zwarte tint met 50% transparantie */
  pointer-events: none; /* zorgt dat de overlay geen interacties blokkeert */
}
.trip-detail-info1 {
  margin-bottom: 30px;
}
.trip-detail-under-content {
  margin-top: 40vh;
  background-color: #f6f6f6;
  margin-left: -13%;
  margin-right: -13%;
  padding: 13%;
  padding-top: 20px;
}
.map-container {
  height: 80vh;
  padding-bottom: 50%;
}
.photos-container {
  height: 100vh;
}

.trip-detail-edit-trip {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
  margin-bottom: 50px;
}
.trip-detail-general-info button {
  font-family: "myriad-pro", sans-serif;
  margin: 0px 20px 0px 0px;
}
.trip-detail-info {
  display: flex;
  align-items: baseline;
  gap: 10px;
  height: 50px;
}
.trip-detail-header {
  display: flex;
  align-items: center;
  align-items: center;
  width: 45%;
  max-width: 400px;
  justify-content: space-between;
}
.trip-detail-share {
  margin: 50px 0px -90px 0;
  z-index: 3;
  padding: 8px;
  cursor: pointer;
  background-color: #3c4b64;
  color: white;
}
.trip-detail-share button {
  display: flex;
}
.trip-detail-share svg {
  color: white;
}
@media (max-width: 600px) {
  .trip-detail-general-info {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    padding-left: 280px;
  }
  .trip-detail-general-info button {
    font-size: 10px;
  }
  .trip-days-slider {
    padding: 20px 70px 20px 70px;
    width: 82%;
    margin-top: 10px;
    margin-left: -15%;
    margin-right: -11%;
  }
  .days-place {
    margin-top: 50px !important;
    color: blue;
  }
  .trip-days-container {
    margin-top: 70px;
  }
  .slick-dots {
    display: none;

    position: relative;
  }
  .slick-dots li button:before {
    font-size: 5px;
  }
  .slick-dots li button {
    height: 1px;
  }
  .trip-days-container {
    align-items: stretch;
  }
  .trip-days-slider li {
    font-size: 10px;
  }
  .slick-dots {
    margin-bottom: 0;
  }
  .slick-dots {
    display: none !important;
  }
  .back-button-detail {
    font-size: 10px;
  }
}
