.trip-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  cursor: pointer;
  position: relative;
}
.trip-item div {
  width: 100%;
}
.trip-info {
  background-color: #484848;
  padding: 30px;
}
ul {
  text-decoration: none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Toegevoegd voor achtergrondverduistering */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Zelfde als je andere modal */
}

.modal-content {
  padding: 2rem;
  border-radius: 8px; /* Zelfde als jouw andere modal */
  max-width: 500px; /* Gelijk met je andere */
  width: 90%;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content button {
  margin-bottom: 20px;
}
.model-form {
  display: flex;
  flex-direction: column;
}
.model-form-checkboxes {
  display: flex;
  flex-direction: column;
  margin-left: -30%;
  margin-top: 10px;
}
select {
  margin: 10px 0px 20px 0px;
  padding: 5px 10px;
  background-color: #484848;
  color: white;
  border: 0.5px #d5dfff solid;
}
.model-form-AddButton {
  margin-top: 40px;
}
.modal-content .title-header {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .modal-content input {
    margin: 10px;
  }
  .modal-content form {
    padding: 9% 5%;
  }
  .modal-overlay {
    background-color: #484848;
  }
  .modal-content .title-header {
    font-size: 30px;
    margin-top: 10px;
  }
}
