.slick-slide {
  transform: scale(0.85);
  opacity: 0.5;
  filter: brightness(60%);
  transition: all 0.3s ease;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/* Actieve (middelste) slide */
.slick-center {
  transform: scale(1.4);
  opacity: 1;
  filter: brightness(100%);
  z-index: 10;
  width: 600px;
}

/* Afbeeldingen */
.slick-slide img {
  width: 300px; /* Kleiner maken dan de center */
  height: 400px;
  object-fit: cover;
  transition: all 0.3s ease;
}

/* Tekst onder afbeelding */
.hover-info {
  background-color: #484848;
  color: white;
  padding: 12px;
  text-align: center;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 100;
  max-width: 90%;
}
.slick-track {
  height: 500px;
}
.slick-list {
  overflow: visible;
}
