.custom-slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -300px;
  margin-right: -10%;
  width: 130%;
  margin: 0px -15%;
  overflow: hidden;
  margin-bottom: 90px;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
}

.side-image {
  flex: 0 0 25%;
  max-width: 25%;
  opacity: 0.5;
  cursor: pointer;
}

.side-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(60%);
}

.center-image {
  flex: 0 0 50%;
  max-width: 50%;
  transform: scale(1);
  position: relative;
  cursor: pointer;
}

.center-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(100%);
}

.hover-info {
  position: absolute;
  bottom: -60px;
  background-color: #c9bfb1;
  color: black;
  padding: 30px 40px;
  height: 100px;
  width: 40%;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 100;
  right: 30px;
  left: auto;
  text-align: right;
  transform: none;
  text-align: left;
}

.nav-button {
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  padding: 0 15px;
  user-select: none;
}

.nav-button.left {
  position: absolute;
  left: 2%;
}

.nav-button.right {
  position: absolute;
  right: 2%;
}
.slide-place {
  font-size: 40px;
  font-family: "Myriad Pro", sans-serif;
  margin-bottom: 10px;
  font-weight: 600;
}
.slide-time {
  font-size: 14px;
  font-weight: 100;
}
.side-image,
.side-image img,
.center-image,
.center-image img {
  transition: all 0.3s ease;
}
.center-image {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.center-image.fade {
  opacity: 0;
}
@media (max-width: 768px) {
  .custom-slideshow {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .image-wrapper {
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
  }

  .side-image {
    display: none;
  }

  .center-image {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .center-image img {
    height: 400px;
  }

  .hover-info {
    position: relative;
    bottom: 40px;
    width: 50%;
    padding: 20px 30px;
    text-align: left;
    right: -24%;
    left: auto;
    height: 50px;
  }

  .slide-place {
    font-size: 18px;
  }

  .slide-time {
    font-size: 14px;
  }

  .nav-button {
    font-size: 2rem;
    top: 10px;
  }

  .nav-button.left {
    left: 10px;
  }

  .nav-button.right {
    right: 10px;
  }
  .slide-time {
    font-size: 11px;
    font-weight: 100;
  }
  .slide-place {
    font-size: 15px;
  }
}
